<section class="container dashboard wrapper">
	<div class="row">
		<div class="col">
			
            <section class="container wrapper">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <h2>Welcome to Fist-of-Five!</h2>
                        <form action='/add' method='post'>

                            <div class="form-group">
                                <label for="task">Add a new topic to test:&nbsp;<span class="required"></span></label>
                                <input type="value" class="form-control" id="task" name="task" placeholder="task">
                            </div> 
                            
                            <button type='submit' class="btn btn-primary btn-signin">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Add
                            </button><br>
                        </form>
                    </div>
                </div>
            </section>
		</div>
	</div>
</section>