{{!-- navbar --}}
<nav class="navbar navbar-dark bg-dark">
    <form action='/' method='get'>
        <button type='submit' class="btn btn-outline-light my-2 my-sm-0 btn-signin">Home</button>
    </form>
    <a class="navbar-brand" href="#"></a>
    <form action="add" method='get'>
        <button type='submit' class="btn btn-outline-light my-2 my-sm-0 btn-signin ">Add Topic
        </button>
    </form>
</nav>

{{!-- jumbotron --}}
<div class="page-header" style="background-color: #401f68; font-family: 'Source Serif Pro', serif;">
  <div class="container">
    <h1 class="display-4" style="color: white">History</h1>
    <hr style="background-color: white;">
    <p class="lead" style="color: white; padding-bottom: 20px;">Here you'll find all the previous topics:</p>
  </div>
</div>

{{!-- Body containing all data displayed --}}
<section class="container dashboard wrapper">
    <div class="row">
        <div class="col">
            <div class="col-12">
                {{#each fist5}}
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #836EAA; padding: 15px; font-family:'Playfair Display', serif; font-size: 30px; color: white;">
                        {{this.topic}} 
                        </div>  
                        <div style="padding-top: 20px"># Votes: {{this.count}} <br> Avg: {{this.favg}}
                        </div>
                        <div class="card-body" style="box-shadow: 10px 10px 5px grey">
                        <strong>Topic Started: </strong>{{this.createdAt}}
                        </div>
                    </div>
                    <br>
                {{/each}}
            </div>
        </div>             
    </div>
</section>

<!-- Footer Area -->
<div class="navbar navbar-default navbar-fixed-bottom" style="top: 50px">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 - Site Built By Trilogy@NU</p>
      <a href="https://github.com/therealizzi/Fist-to-Five" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>Visit Our Github</a>
    </div>
</div>